<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Product name</th>
        <th scope="col">Price</th>
        <th scope="col">quantity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productlist">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.productName }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <i
            class="bi bi-pencil-square fs-4 mx-2 text-warning"
            [routerLink]="['/prodcut', product.id,'edit']"
          ></i>
          <i class="bi bi-x-circle fs-4 mx-2 text-danger" (click)="delete(product.id)"></i>
          <i
            class="bi bi-binoculars-fill fs-4 mx-2 text-primary"
            [routerLink]="['/product', product.id]"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
